.addButton {
  color: green;
  font-weight: bold;
}
.imageUpload {
  border: 1px dashed black;
  padding: 50px;
}

.res{
    width:300px;
    padding: 10px;
    
    background-color: 	#F0F0F0;
    text-align: center;
}