.containerNewPass {
  background-image: url("../LandingPage/a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px !important;
  padding: 0px !important;
  background-attachment: fixed;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main";
  grid-template-rows: 100px;
  .Logo,
  .Logo1 {
    margin: 20px;
    grid-area: header;
    width: 100px;
    height: 100px;
    background-image: url("../LandingPage/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    display: none;
  }
  .formulaire {
    grid-area: main;
    height: max-content;
    min-height: 500px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 30px;
    .input {
      width: 100%;
      height: 40px;
    }
    .Alert {
      padding: 3px 0px;
    }
    .Logo1 {
      margin: auto;
      display: block;
    }
    .one {
      font-size: 34px;
      margin: auto;
      width: max-content;
    }
    .two {
      font-size: 20px;
      color: red;
      margin: auto;
    }
    .three {
      font-size: 20px;
      font-weight: 700;
      margin: auto;
    }
    .center {
      width: 100%;
      margin: 10px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .containerNewPass {
    background-image: none;
    background-color: white;

    .Logo {
      display: block !important;
    }

    .formulaire {
      width: 100%;
      .Logo1 {
        display: none;
      }
    }
  }
}
